body {
    font-family: Arial, sans-serif;
    background: #333;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #CDA45E;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

.add-form input,
.add-form select,
.add-form button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 6px;
}

.add-form button {
    background-color:#333;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.add-form button:hover {
    background-color: #151816af;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: white;
}

table img {
    width: 50px;
    border-radius: 5px;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: #373333ea;
}
